# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.egg-info/
*.eggs/
.cache/
dist/
build/

# Virtual environments
.venv/


# PyCharm project settings
.idea/

# dotenv environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db


# MongoDB dumps (por si exportás datos locales)
*.mongodb
dump/
